body{
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1{
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
    line-height: 2;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.3rem ;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 12px;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

p{
    line-height: 2;
}

.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 150px;
}

.middle-container{
    margin: 100px 0;

}

a{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    text-decoration: none;
    margin: 10px 20px;
}

a:hover{
    color: #EAF6f6;
}

.bottom-cloud{
    position: absolute;
    right: 400px;
    top: 100px;
}

.top-cloud{
    position: absolute;
    left: 400px;
    bottom: 300px;
}

.skill-row{
    margin: 100px auto;
    width: 50%;
    text-align: left;
}

.intro{
    width: 30%;
    margin: auto;
}

.prof-pic{
    border-radius: 50%;
}

.code-img{
    width: 25%;
    margin-right: 30px;
    float: left;
    border-radius: 100%;
}
.chilli-img{
    width: 25%;
    margin-left: 30px;
    float: right;
}

hr{
    border-top: 10px dotted #cdd3d3;
    width: 4%;
    margin: 100px auto;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999E);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999E);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999E);
    background-image: -o-linear-gradient(top, #11cdd4, #11999E);
    background-image: linear-gradient(to bottom, #11cdd4, #11999E);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

  .bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;
  }

  .contact{
    width:40%;
    margin: 40px auto 60px;
  }

 .copyright{
    color: #EAF6f6;
    font-size: 0.75em;
    padding: 20px 0;
 }